<div class="row task-list" *ngIf="showList"> 
      <div class="col-md-3"> 
            <div class="card"> 
                  <div class="card-body">
                        <h5 class="card-title">Yet To Start</h5>
                        <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '0'; let i=index" (click)="moveTo(item)">
                              {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                        </div> 
                  </div>
            </div>
      </div> 
      <div class="col-md-3"> 
            <div class="card"> 
                  <div class="card-body">
                        <h5 class="card-title">In Progress</h5>
                        <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '1' let i=index" (click)="moveTo(item)">
                        {{item.convergeID}} | {{item.publisher}} | {{item.pocs}}  <br/> {{item.jobComments}}
                        </div> 
                  </div>
            </div>
      </div> 
      <div class="col-md-3"> 
            <div class="card"> 
                  <div class="card-body">
                        <h5 class="card-title">Todo</h5>
                        <div class="alert alert-success"  *ngFor="let item of taskdata | bucket : '2' let i=index" (click)="moveTo(item)">
                        {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                        </div> 
                  </div>
            </div>
      </div>
      <div class="col-md-3"> 
            <div class="card"> 
                  <div class="card-body">
                        <h5 class="card-title">Completed</h5>
                        <div class="alert alert-success" *ngFor="let item of taskdata | bucket : '3' let i=index" (click)="moveTo(item)">
                        {{item.convergeID}} | {{item.publisher}} | {{item.pocs}} <br/> {{item.jobComments}}
                        </div>  
                  </div>
            </div>
      </div>  
  
</div>  

  
  <!--
  <div class="alert alert-success" *ngFor="let item of taskdata | bucket : 'Completed' let i=index" (click)="moveTo(item)">
    {{item.id}} | {{item.title}} | {{item.author}} 
  </div>

  <a href="javascript:;" class="btn btn-primary" (click)="addNewTask()">New Task</a>

-->


